#client_satisfy
{
  padding: 2rem 0;
  .column
  {
    span
    {
      font-size: 2.5rem;
      color: $main;
    }
    .number
    {
      font-size: 3rem;
      color: $white;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 200;
    }
    .text
    {
      color: $bbb;
    }
  }
}