$white: #fff;
$black: #000;
$gray: #333;
$main: #C49B66;
$hover: #ff246f;
$white_gray: #eee;
$ddd : #ddd;
$bbb: #bbb;
$bg_one: #f8f9fa;
$box_shadow: rgba(164, 182, 206, 0.14);
$box_shadow_two: rgba(168, 168, 168, .5);
$box_shadow_tree: rgba(0, 0, 0, 0.1);
$form_border: rgba(255, 255, 255, 0.1);
$bg_form: rgba(10, 10, 10, 0.4);
$order_background: #f5f5f5;
$about_description: #a3a3a3;
$progres: rgba(80, 80, 80, 0.3);