/* Client Section */
.clientSatisfy {
    padding: 2rem 0
}

.clientColumn span {
    font-size: 2.5rem;
    color: #C49B66
}

.clientNumber {
    font-size: 3rem;
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 200
}

.clientText {
    color: #bbb
}
.clientIcon svg{
    font-size: 3rem;
    text-align: center;
    color: #C49B66;
    font-family: "Josefin Sans", sans-serif
}