@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.rec-pagination
{
  display: none!important;
}
.spinner
{
  width: 100%;
  height: 110vh;
  text-align: center;
  overflow: hidden;
}

.percent5:after {
  width: 5%
}
.percent10:after {
  width: 10%
}
.percent15:after {
  width: 15%
}
.percent20:after {
  width: 15%
}
.percent25:after {
  width: 15%
}
.percent30:after {
  width: 15%
}
.percent35:after {
  width: 15%
}
.percent40:after {
  width: 15%
}
.percent45:after {
  width: 15%
}
.percent50:after {
  width: 50%
}
.percent55:after {
  width: 55%
}
.percent60:after {
  width: 60%
}
.percent65:after {
  width: 65%
}
.percent70:after {
  width: 70%
}
.percent75:after {
  width: 75%
}
.percent80:after {
  width: 80%
}
.percent85:after {
  width: 85%
}
.percent90:after {
  width: 90%
}
.percent95:after {
  width: 95%
}
.percent100:after {
  width: 100%
}